RewriteEngine On
# # (RewriteBase es opcional, pero ayuda en subcarpetas)
RewriteBase /php-native-deploy-docker-render/
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^ index.php [QSA,L]
# # Si existe archivo o carpeta, NO redirigir
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Si no existe, enviar a index.php
RewriteRule ^ index.php [QSA,L]