RewriteEngine On

# IMPORTANTE: ajusta esto al path real de tu proyecto en XAMPP
# Si tu proyecto está en: C:\xampp\htdocs\php-native-deploy-docker-render
# y entras así: http://localhost/php-native-deploy-docker-render/src/public/
RewriteBase /php-native-deploy-docker-render/src/public/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
